# Node
node_modules
.pnpm-debug.log

# Expo
.expo
.expo-shared
web-build
dist
build
expo-env.d.ts

# Env
.env
.env.*

# Misc
*.DS_Store
*.log

# Solidity
apps/contracts/artifacts/
apps/contracts/cache/
apps/contracts/typechain/
apps/contracts/types/
apps/contracts/ignition/deployments
